html, body {
    margin:0;                             /* clear any default margin */
    height:100%;
  }


/* PANEL 1 */
.panel1 {
    background-color: #0c2147;
    /*background-image: linear-gradient(to bottom, rgb(13, 10, 48), rgb(164, 221, 248));*/
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    animation: sky 7s forwards;
}

@keyframes sky {
    50% {
        background-color: #7dbdf1;
    }
    100% {
        background-color: #aae3fa;
    }
}

#img_bedroom {
    position: absolute;
    width: 100%;
}

.sun {
    background-color: #ffc21a;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    left: 29.5%;
    bottom: 0;
    box-shadow: 0px 0px 20px 5px #ffc21a;
    animation: sunset 10s forwards;
}

@keyframes sunset {
    100% {
        transform: translateY(-500px);
    }
}

/* PANEL 2 */
#panel2 {
    position: relative;
    height:100%;
    margin: 0
}

#img_bed {
    bottom: 0px;
    width: 100%
}

#panel3 { 
    background: #c99700;
    height:100%;
}

#panel4 {
    background: #ae73c4;
    height:100%;
}

#panel5 {
    background: #88826e;
    height:100%;
}

#panel6 { 
    background: #c99700;
    height:100%;
}

#panel7 {
    background: #ae73c4;
    height:100%;
}

#panel8 {
    background: #88826e;
    height:100%;
}

#panel9 { 
    background: #c99700;
    height:100%;
}
#panel10 {
    background: #ae73c4;
    height:100%;
}

/* Objects */
.student{
    position: absolute;
    background: black;
    width: 35%;
    bottom: 0;
    height: 70%;
    transform: translate(90%);
}
